<h2><%= @list.name %></h2>

<div class="cards">
<% @list.movies.each do |movie| %>
<div class="card">
<%= image_tag movie.poster_url, alt:"movie image", width: 200, height: 150 %>
<p><%= movie.title %> - Synopsis: <%= movie.overview %> /
<% movie.bookmarks.each do |bookmark| %>
<%= bookmark.comment %> <%= link_to 'Delete Bookmark', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure ?" } %>
<% end %>
</p>
<% end %>
</div>
</div>




<%= link_to "return to the menu", lists_path %>
<%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
