<h2><%= @list.name %></h2>

<ul>
<% @list.movies.each do |movie| %>
<li><%= movie.title %> - Synopsis: <%= movie.overview %> /
<% movie.bookmarks.each do |bookmark| %>
<%= bookmark.comment %> <%= link_to 'Delete Bookmark', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure ?" } %>
<% end %>
</li>
<% end %>
</ul>



<%= link_to "return to the menu", lists_path %>
